<ul class="blue-box">
    <li>
        <label for="text1">Test examples:</label>
        <select id="text1">
            <option value="example1">Example 1</option>
            <option value="example2">Example 2</option>
            <option value="example3">Example 3</option>
        </select>
    </li>
    <li>
        <label for="text2">Mutation rate</label>
        <input type="text" id="text2" placeholder="Ex 4">
    </li>
    <li>
        <label for="text3">Mixing rate</label>
        <input type="text" id="text3" placeholder="Ex 1">
    </li>
    <li>
        <label for="text4">Population Size</label>
        <input type="text" id="text4" placeholder="Ex 3">
    </li>
  
  </ul>
  