.blue-box {
    background-color: #819197;
    padding: 40px;
    border-radius: 20px;
    list-style-type: none;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blue-box li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.blue-box label {
    margin-right: 10px;
    min-width: 120px;
    white-space: nowrap;
}

.blue-box input[type="text"], 
.blue-box select {
    width: calc(100% - 130px);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ccc;
    font-size: 16px;
}

.pie-chart {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    background-color: #f1f1f1;
    overflow: hidden;
}

.slice {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 100% 100%, 0 100%);
    transition: transform 0.3s ease;
    z-index: 1; /* Adăugăm z-index */
}

.slice:nth-child(1) { background: conic-gradient(#FFA500 0% 30%, transparent 0 100%); }
.slice:nth-child(2) { background: conic-gradient(#FF6347 0% 80%, transparent 0 100%); }
.slice:nth-child(3) { background: conic-gradient(#4682B4 0% 100%, transparent 0 100%); }

/* Efectul de hover pentru animație */
.slice:hover {
    transform: scale(1.1);
    z-index: 2; /* Adăugăm z-index */
}
