<div class="blue-container">
  <div class="statistics-container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Number of jobs</th>
          <th>Number of machines</th>
          <th>Number of operations by jobs</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ numberOfJobs }}</td>
          <td>{{ numberOfMachines }}</td>
          <td>{{ numberOfOperations / numberOfJobs }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  

  <div class="container">
    <div class="operations-header">Operations</div>
    <table class="styled-table">
      <thead>
        <tr>
          <th>idTask</th>
          <th>idMachine</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.id }}</td>
          <td>{{ task.machine.id }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  

  

<div class="card-container">
  <div *ngFor="let task of tasks" class="card">
    <div class="card-content">
      <p class="card-title">Task ID: {{ task.id }}</p>
      <p class="card-para">Machine ID: {{ task.machine.id }}</p>
      <p class="card-para">Energy Used and Processing Time:</p>
      <table>
        <tbody>
          <tr *ngFor="let energyProcessingTime of task.energyProcessingTimeList">
            <td>Energy Used: {{ energyProcessingTime.energy }}</td>
            <td>Processing Time: {{ energyProcessingTime.processingTime }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

