<div>
    <table>
      <thead>
        <tr>
          <th>Number of jobs</th>
          <th>Number of machines</th>
          <th>Number of operations by jobs</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ numberOfJobs }}</td>
          <td>{{ numberOfMachines }}</td>
          <td>{{ numberOfOperations / numberOfJobs }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <table>
      <thead>
        <tr>
          <th>Operations</th>
          <th>(idTask, idMachine)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.id }}</td>
          <td>{{ task.machine.id}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <table>
        <thead>
            <tr>
                <th>Modes</th>
                <th>(idTask, EnergyUsed, ProcessingTime)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td>{{ task.id }}</td>
                <td>
                  <table>
                      <tbody>
                          <tr *ngFor="let energyProcessingTime of task.energyProcessingTimeList">
                              <td>{{ energyProcessingTime.energy }}</td>
                              <td>{{ energyProcessingTime.processingTime }}</td>
                          </tr>
                      </tbody>
                  </table>
              </td>
            </tr>
        </tbody>
    </table>
</div>
