<div *ngIf="machines.length > 0; else noData">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Breakdown time</th>
          <th>Mentenance</th>
          <th>Standard power</th>
          <th>Speed</th>
          <th>Energy consumption</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let machine of machines">
          <td>{{ machine.id }}</td>
          <td>{{ machine.breakdownTime }}</td>
          <td>{{ machine.mentenance }}</td>
          <td>{{ machine.standardPower }}</td>
          <td>{{ machine.speed}}</td>
          <td>{{ machine.energyConsumption }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noData>
    <p>Nu există mașini disponibile.</p>
  </ng-template>